@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.announce {
  border: 1px solid white;
  border-radius: 10px;
  background-color: #ebe9e9;
  width: 140px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  font-style: bolder;
  font-weight: 900;
}

.navbar {
  border: 1px solid rgb(231, 231, 231);
}

.navbar-brand {
  padding-left: 100px;
}

.navbar-nav {
  padding-right: 40px;
}

.button-custom {
  padding-right: 60px;
}

.btn {
  border-radius: 10px;
  background-color: #ebe9e9;
  width: 110px;
  font-weight: 700;
}

.nav-link {
  font-weight: 500;
}

/* Brand Scrolls */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding: 10px;
  padding-inline: 10px;
}
.slider {
  margin-top: 600px;
  margin: auto;
  overflow: visible;
}
.slider ul {
  display: flex;
  padding: 0;
  animation: cambio 80s infinite linear;
}
.slider li {
  padding: 0 10px;
  list-style: none;
}
.slider img {
  max-width: 100%;
  height: auto;
}

.brand-image {
  display: block;
  margin: 10px auto;
  width: 110px;
}

.Image-container {
  margin-top: 600px;
}

@keyframes cambio {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}

.btn-card {
  width: 190px;
  height: 8vh;
  border-radius: 12px;
  margin-right: 16px;
  color: white;
}

.bg-footer {
  background-color: #ffffff;
  padding: 50px 0 30px;
}
.footer-heading {
  letter-spacing: 2px;
}

.footer-link a {
  color: #000000;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: #1bbc9b;
}

.contact-info {
  color: #acacac;
  font-size: 14px;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}

.facebook {
  color: blue;
}

.twitter {
  color: #000000;
}

.google {
  color: rgb(181, 51, 39);
}

.apple {
  color: #f60675;
}

.footer-alt {
  color: #acacac;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: '';
  width: 25px;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}

.btn-card:hover {
  background-color: #582564;
  color: white;
}

.btn-cards:hover {
  background-color: #582066;
  color: white;
}

.containerss {
  margin-top: 50px;
}

.img-fluid {
  width: 400px;
  height: auto;
}

.img-fluids {
  width: 550px;
  height: auto;
}

.center-content {
  text-align: center;
}

.transparent-image {
  width: 100%;
  max-width: 100%;
  opacity: 0.2;
  margin-left: 370px;
  margin-top: 90px;
}

.overlay-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  color: purple;
  font-size: 15px;
}

.overlay-texts {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
}

.overlay-sub {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
}

.btn-custom {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(110, 75, 110);
  color: white;
  border: none;
  background: #b621fe;
  border: none;
  z-index: 1;
}

.btn:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #4a4755;
  border-radius: 15px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn:hover {
  color: #fff;
}
.btn:hover:after {
  left: 0;
  width: 100%;
}
.btn:active {
  top: 2px;
}

.btn-sub-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

/* Media Query for Small Devices */
@media (max-width: 576px) {
  .container {
    margin-top: 20%;
  }
  .overlay-texts {
    margin-top: 60px;
    font-size: 40px;
    letter-spacing: normal;
    line-break: none;
  }
  .overlay-text {
    margin-top: 40px;
  }
  .btn-sub-text {
    top: 120%;
  }
  .btn-custom {
    top: 110%;
  }
  .Image-container {
    top: 250%;
  }
  .slider {
    top: 20%;
    margin-top: 150%;
  }

  .overlay-sub {
    font-size: 14px;
    top: 90%;
    letter-spacing: none;
    line-break: none;
  }
  .transparent-image {
    opacity: 0;
  }
}

/* Media Query for Medium Devices */
@media (min-width: 576px) and (max-width: 768px) {
  .overlay-texts {
    margin-top: 60px;
    font-size: 40px;
    letter-spacing: normal;
    line-break: none;
  }
  .overlay-text {
    margin-top: 40px;
  }
  .btn-sub-text {
    top: 120%;
  }
  .btn-custom {
    top: 105%;
  }

  .overlay-sub {
    font-size: 14px;
    top: 90%;
    letter-spacing: none;
    line-break: none;
  }
  .transparent-image {
    opacity: 0;
  }
}
