@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.announce {
  border: 1px solid white;
  border-radius: 10px;
  background-color: #ebe9e9;
  width: 140px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  font-style: bolder;
  font-weight: 900;
}

.navbar {
  border: 1px solid rgb(211, 211, 211);
}

.navbar-brand {
  padding-left: 100px;
}

.navbar-nav {
  padding-right: 40px;
}

.button-custom {
  padding-right: 60px;
}

.btn {
  border-radius: 10px;
  background-color: #ebe9e9;
  width: 110px;
  font-weight: 700;
}

.nav-link {
  font-weight: 500;
}

/* .center-content {
  text-align: center;
}

.transparent-image {
  position: absolute;
  top: 28%;
  height: 75vh;
  right: 20%;
  opacity: 0.4;
}

.overlay-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: purple;
  font-size: 15px;
}

.overlay-texts {
  position: absolute;
  top: 62%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
}

.overlay-sub {
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.btn-custom {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(110, 75, 110);
  color: white;
  border: none;
  transform: translate(-50%, -50%);
}

.btn-sub-text {
  position: absolute;
  top: 110%;
  left: 43.5%;
  text-align: center;
} */

.center-content {
  text-align: center;
}

.transparent-image {
  width: 100%;
  width: 500%;
  opacity: 0.2;
  margin-left: 400px;
  margin-top: 90px;
}

.overlay-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  color: purple;
  font-size: 15px;
}

.overlay-texts {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
}

.overlay-sub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  color: black; /* Adjust text color */
}

.btn-custom {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(110, 75, 110);
  color: white;
  border: none;
}

.btn-sub-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

/* Brand Scrolls */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  padding: 10px;
  padding-inline: 10px;
}
.slider {
  margin-top: 200px;
  margin: auto;
  overflow: visible;
}
.slider ul {
  display: flex;
  padding: 0;
  animation: cambio 80s infinite linear;
}
.slider li {
  padding: 0 10px;
  list-style: none;
}
.slider img {
  max-width: 100%;
  height: auto;
}

.brand-image {
  display: block;
  margin: 10px auto;
  width: 200px;
}
/* @keyframes cambio {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
} */
